* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    margin: 0 auto;
    width: 80%;
    height: 1000px;
    border: 1px solid black;
}

table {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    background-color: lightblue;
}

table  td {
    border: 1px solid black;
    padding: 5px;
    background-color: orange;
}

table td:hover {
    background-color: black;
    color: white;
}

table th {
    color: red;
}


#col-1 {
    width: 10%;
}
#col-2 {
    width: 80%;
}
#col-3 {
    width: 10%;
}